.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header .nav-link {
  position: relative;
}

.header .nav-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.25rem;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 20px 0 #fbbd61;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.4s linear;
}
.header .nav-link:hover::after,
.header .nav-link.active::after {
  width: 100%;
}

.slider .carousel-caption {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slider .carousel-caption > span {
  color: #fbbd61;
  font-size: 0.875rem;
}
.slider .carousel-caption h1 {
  font-size: 3.25rem;
}
.slider .carousel-caption p {
  font-size: 1.125rem;
}
.slider .carousel-caption .trailer span {
  border-width: 2px !important;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 300;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.slider .carousel-caption .trailer button {
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: none;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0.5rem 2rem;
}
.slider .carousel-item:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.new {
  padding-top: 50px;
  margin-bottom: 50px;
}
.new h1 {
  color: #ec7532;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.new h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100px;
  z-index: 9999;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}
.new .item {
  text-align: center;
}
.new .item img {
  width: 100%;
}
.new .item .img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}
.new .item .img:after {
  content: "";
  position: absolute;
  left: -200px;
  top: 0;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to bottom, #fbbd61, #ec7532);
  transition: all 0.5s ease-in-out;
  transform: skewX(25deg);
  z-index: 9;
  opacity: 0.9;
}
.new .item:hover .img:after {
  width: 300%;
}
.new .item .info {
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
  transform: scale(0.8);
}
.new .item .info i {
  height: 5rem;
  width: 5rem;
  text-align: center;
  line-height: 5rem;
  display: block;
  margin-bottom: 1rem;
  transform: scale(1);
  transition: all 0.5s linear;
}
.new .item .info a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.new .item .info p {
  opacity: 0.8;
}
.new .item:hover .info {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.new .item .info i:hover {
  transform: scale(0.9);
}
.new .item h2 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.new .item .rating {
  color: #fbbd61;
}
.schedule .nav-tabs .nav-link {
  border: none;
  position: relative;
  padding: 1rem 1.5rem;
  color: #4a4a4a;
}
.nav-tabs {
  margin-bottom: 40px;
}
.nav-tabs .nav-item {
  margin-bottom: 0;
}
.schedule .nav-tabs .nav-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.25rem;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.3s linear;
}
.schedule .nav-tabs .nav-link:hover::after,
.schedule .nav-tabs .nav-link.active::after {
  width: 100%;
}
.schedule .nav-tabs .nav-link.active {
  color: #ec7532;
}
.schedule .tab-content img {
  width: 100%;
  border-radius: 10px;
}
.schedule .tab-content h2 {
  font-size: 14px;
  color: #ec7532;
  font-weight: 400;
}
.schedule .tab-content h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #101010;
}
.schedule .tab-content p {
  color: #717171;
}
.schedule .tab-content a {
  font-size: 12px;
  position: relative;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ec7532;
  transition: all 0.3s linear;
}
.schedule .tab-content a:hover {
  text-decoration: none;
  color: #101010;
}
.schedule .tab-content .times span {
  font-size: 12px;
  color: #4a4a4a;
}
.schedule .tab-content .times .time {
  font-size: 14px;
  color: #717171;
  background-color: #d8d8d8;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
}
.schedule .tab-content .times .time.past {
  opacity: 0.5;
}
.schedule .tab-content .length {
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-right: 10px;
}
.schedule .tab-content .rate {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #4a4a4a;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
}
.schedule .tab-content .tab-pane > .row {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.schedule .tab-content .tab-pane > .row:last-child {
  border-bottom: none;
}
.coming {
  background-image: url("../images/slide-3.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 50px;
  background-color: #101010;
}
.coming h2 {
  font-size: 18px;
  margin-bottom: 40px;
  border-bottom: 1px solid #333;
  position: relative;
  padding-bottom: 1rem;
  color: #fff;
}
.coming h2:after {
  content: "";
  display: block;
  width: 129px;
  height: 0.25rem;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.3s linear;
}
.coming h3 {
  color: #ec7532;
  font-weight: 300;
  font-size: 14px;
}
.coming h4 {
  font-size: 34px;
  color: #fff;
  font-weight: 300;
}
.coming .meta {
  margin-bottom: 20px;
  font-weight: 300;
}
.coming p {
  color: #fff;
}
.coming .meta .fa-star {
  color: #ec7532;
}
.coming .meta .date {
  color: #fff;
  margin-left: 10px;
}
.coming a {
  color: #ec7532;
  text-decoration: none;
}
.coming .col-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.coming .col-img img {
  width: 100%;
}
.coming .col-img i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.coming .col-img a:hover i {
  transform: translate(-50%, -50%) scale(1);
}
.coming .list-movie {
  background-color: #101010;
  padding: 50px 0;
}
.coming .list-movie .item {
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.2s linear;
}
.coming .list-movie .item:hover,
.coming .list-movie .item.active {
  opacity: 1;
}
.coming .list-movie img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.coming .list-movie h5 {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}
.coming .list-movie p {
  color: #717171;
  font-size: 14px;
  text-align: center;
}
.contact {
  padding: 50px 0;
  text-align: center;
}
.contact h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #4a4a4a;
}
.contact a {
  color: #ec7532;
  text-decoration: none;
  font-size: 40px;
}
footer {
  background-color: #101010;
  padding-top: 50px;
}
footer .title {
  font-size: 18px;
  color: #ec7532;
  text-transform: uppercase;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
footer li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
footer li a:hover {
  text-decoration: none;
  color: #fbbd61;
}
footer li i {
  width: 20px;
}
footer .copyright {
  border-top: 1px solid #717171;
  padding: 20px 0;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .schedule .nav-tabs .nav-link {
    font-size: 15px;
    padding: 0.5rem;
  }
  .schedule .tab-content h2 {
    margin-top: 10px;
  }
  .coming .col-content {
    margin-bottom: 15px;
  }
  footer .title {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
}
